{% extends 'layout.html' %}
{% load static %}

{% block title %} RO-Crate Registry - {{crate.name}}{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">RO-Crate Registry</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% comment %} <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> {% endcomment %}

        <form method="post" class="d-flex" action="/search">
          {% csrf_token %}
          <div class="input-group mx-auto" style="width: 500px">
            <select class="form-select float:left" name="field">
              <option selected>All</option>
              <option>Person</option>
              <option>Organizations</option>
              <option>Projects</option>
              <option>Publications</option>
              <option>Data Entities</option>
              <option>Types</option>
              <option>Profiles</option>
              <option>Licenses</option>
              <option>Disciplines</option>
              <option>Programming Languages</option>
            </select>
            <div class="form-outline border rounded mx-auto bg-body" style="width: 300px">
              <input type="search" name="search" class="form-control" value="{{ request.GET.q }}" />
            </div>
            <button type="submit" class="btn btn-primary mx-auto float:right">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log in</a>
        </li> {% endcomment %}
      </ul>
    </div>
  </div>
</nav>

{% include 'messages.html' %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<div class="container mt-4 mb-4">
  <div class="row bg-white">
    <div class="col-12">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
          <div class="ibox-content">
            <div class="row">
              <div class="col-lg-12">
                <div class="m-b-md">
                  <div class="row">
                    <div class="col-11">
                      <h2>{{crate.name}}</h2>
                    </div>
                    <div class="col-1">
                      <a href="/crate/{{crate.id}}/edit">Edit</a>
                    </div>
                  </div>
                  <dl class="dl-horizontal">
                    {% if crate.authors.all %}
                    <dt>Authors:</dt>
                    <dd>
                      {% for au in authorlist %}
                      {% if au.isocr %}
                      <a href="{{au.author.ocrid}}">
                        <img src="{% static 'img/ocrid.png' %}">
                      </a>
                      {% endif %}
                      <a href="/search?field=Person&q={{au.author.name}}">{{au.author.name}}</a>&nbsp;&nbsp;
                      {% endfor %}
                    </dd>
                    {% endif %}
                    {% if crate.publisher.all|length > 0 %}
                    <dt>Publisher:</dt>
                    <dd>
                      <span class="label label-primary">
                        <a href="{{ crate.publisher.first.id }}">{{crate.publisher.first.name}}</a>&nbsp;&nbsp;
                      </span>
                    </dd>
                    {% endif %}
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row bg-white">
    <!-- Tabs navs -->
    <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ex2-tab-1" data-mdb-toggle="tab" href="#ex2-tabs-1" role="tab"
          aria-controls="ex2-tabs-1" aria-selected="true">Overview</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex2-tab-2" data-mdb-toggle="tab" href="#ex2-tabs-2" role="tab"
          aria-controls="ex2-tabs-2" aria-selected="false">Content</a>
      </li>
    </ul>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div class="tab-content" id="ex2-content">
      <div class="tab-pane fade show active row" id="ex2-tabs-1" role="tabpanel" aria-labelledby="ex2-tab-1">
        <div class="row">
          <div class="col-md-8">
            <div class="wrapper wrapper-content animated fadeInUp">
              <div class="ibox">
                <div class="ibox-content">
                  <div class="row">
                    <div class="col-lg-12" <dl class="dl-horizontal">
                      <dt>Description:</dt>
                      <dd><span class="label label-primary">{{crate.description|linebreaksbr}}</span></dd>
                      </dl>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-8">
                      <dl class="dl-horizontal">
                        <dt>Published:</dt>
                        <dd>{{crate.datePublished}}</dd>
                        {% if crate.keywords %}
                        <dt>Keywords:</dt>
                        <dd>
                          <span class="label label-primary">
                            {% for keyword in crate.keywords %}
                            <a href="/search?field=All&q={{keyword}}">{{keyword}}</a>&nbsp;&nbsp;
                            {% endfor %}
                          </span>
                        </dd>
                        {% endif %}
                        {% if crate.discipline %}
                        <dt>Discipline:</dt>
                        <dd>
                          <span class="label label-primary">
                            {% for dis in crate.discipline %}
                            <a href="/search?field=Disciplines&q={{dis}}">{{dis}}</a>&nbsp;&nbsp;
                            {% endfor %}
                          </span>
                        </dd>
                        {% endif %}
                        {% if crate.profile %}
                        <dt>Profile:</dt>
                        <dd>
                          <a href="{{crate.profileID}}">{{crate.profile}}</a>
                        </dd>
                        {% endif %}
                        <dt>License:</dt>
                        <dd><a href="/search?field=Licenses&q={{crate.license}}">{{crate.license}}</a></dd>
                      </dl>
                    </div>
                    <div class="col-lg-4" id="cluster_info">
                      <dl class="dl-horizontal">

                        {% comment %} <dt>Last Updated:</dt>
                        <dd></dd> {% endcomment %}
                        {% comment %} <dt>Created:</dt>
                        <dd> 10.07.2014 23:36:57 </dd> {% endcomment %}

                      </dl>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 bg-white">
            <div class="wrapper wrapper-content project-manager">
              <div class="ibox">
                <div class="ibox-content">
                  <dl class="dl-horizontal">
                    <dt>URL:</dt>
                    <dd><a href="{{crate.url}}">{{crate.url}}</a></dd>
                    {% if crate.identifier %}
                    <dt>Identifier:</dt>
                    {% for iden in crate.identifier %}
                    <dd><a href="{{iden}}">{{iden}}</a></dd>
                    {% endfor %}
                    {% endif %}
                    {% if crate.citation.all|length > 0 %}
                    <dt>Citation:</dt>
                    {% for cit in crate.citation.all %}
                    <dd><a href="{{cit.id}}">{{cit.name}}</a></dd>
                    {% endfor %}
                    {% endif %}
                    <dt>Related RO-Crates:</dt>
                    {% for re in related|slice:":5" %}
                    <dd><a href="/crate/{{re.id}}">{{re.name}}</a></dd>
                    {% endfor %}
                    <dd><a href="/search?field=Related&q={{crate.id}}&sort=Relevance">Find More</a></dd>
                  </dl>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">
        <div id="contents" class="mt-3 mb-5">
          {% for entry in crate.entities.all %}
          <div class="data-entity mb-3">
            <strong>Data entity: &nbsp;</strong>
            <a class="data-entity-link"
              href="/search?field=Data+Entities&q={{entry.entity_id}}&sort=Relevance">{{ entry.entity_id }}</a>
            <div class="container">
              {% if entry.name %}
              <div class="row">
                <div class="col-2"><strong>Name:</strong></div>
                <div class="col-10"><a
                    href="/search?field=Data+Entities&q={{entry.name}}&sort=Relevance">{{entry.name}}</a></div>
              </div>
              {% endif %}
              <div class="row">
                <div class="col-2"><strong>Type:</strong></div>
                <div class="col-10">
                  {% for type in entry.type %}
                  <a href="/search?field=Types&q={{type}}&sort=Relevance">{{type}}</a>&nbsp;
                  {% endfor %}
                </div>
              </div>
              {% if entry.programmingLanguage %}
              <div class="row">
                <div class="col-2"><strong>ProgrammingLanguage:</strong></div>
                <div class="col-10"><a
                    href="/search?field=Programming+Languages&q={{entry.programmingLanguage}}&sort=Relevance">{{entry.programmingLanguage}}</a>
                </div>
              </div>
              {% endif %}
            </div>

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Tabs content -->

  </div>
</div>



{% endblock %}